.header-wrap {
	height: 75px;
}

#page-container {
	width: 98.5%; 
}

#bottom-fade,
#path {
	position: relative;
}

.side-block.vote .item {
	width: 100%;
}

.article.full .statistics,
.article .links {
	display: inline;
}

.article .links a {
	height: 16px;
}

#login label {
	width: 40px;
}

#content-section {
	width:87%;
	margin:0 6px 0 0 2px;
}

#content-section .add-vacancy,
#content-section .add-resume {
	height: 77px;
}

#login {
	background: none;
}

.forumTable tr td  {
    margin: 0;
    padding:3px;
    border : 1px solid #555;
    background-color : #EEE;
}

.article .statistics {
	position:relative;
	right:auto;
}