.side-block.search .job-selector {
	padding-bottom: 7px;
}

.side-block.search .job-selector label {
	position: relative;
	top: -1px;
}

.side-block.search .form-buttons {
	padding-top: 10px;
	text-align: right;
}

.side-block.search form {
	margin: 8px 0;
	font-size: 91%;
}

.side-block.search form textarea {
	width: 182px;
	height: 40px;
}

.side-block.search form textarea,
.side-block.search form select {
	background-color: #F8F8FC;
	border: 1px solid #7F9DB9;
}

.side-block.search form table {
	width: 100%;
}

.side-block.search form table th {
	vertical-align: top;
	font-weight: normal;
	text-align: left;
	padding-top: 4px;
}

.side-block.search form table td {
	vertical-align: top;
	width: 110px;
}

.side-block.search form table select {
	width: 100%;
}


#content-section .vacancies {
	width: 50%;
	float: left;
	border-right: 1px solid #D2D3DD;
}

#content-section .resumes {
	border-left: 1px solid #D2D3DD;
	margin-left: 50%;
	padding-left: 15px;
}

#content-section .add-resume {
	margin-right: 15px;
}

#content-section .add-vacancy,
#content-section .add-resume {
	min-height: 65px;
	border: 1px solid #E2E3E8;
	border-bottom-color: #C8C9CE;
	background: #F8F9FD url(images/header-block-bg.gif) 0 0 repeat-x;
	padding: 0 15px 10px 36px;
}

#content-section .add-vacancy p,
#content-section .add-resume p {
	font-size: 91%;
	margin: 0;
}

#content-section .add-vacancy h2 {
	background: url(images/icons/add-vacancy.gif) left center no-repeat;
	margin: 0 0 0 -26px !important;
	padding-left: 26px;
	line-height: 35px;
}

#content-section .add-resume h2 {
	background: url(images/icons/add-resume.gif) left center no-repeat;
	margin: 0 0 0 -26px !important;
	padding-left: 26px;
	line-height: 35px;
}

#content-section .job h2 {
	margin-top: 1em;
}

.job ul {
	margin: 0 10px 10px 37px;
	padding: 0;
	list-style: none;
}

.job li {
	margin: 8px 0 20px 0;
	padding: 0;
}

.job li a {
	font-size: 91%;
}
