/* basic rules for side blocks */
.side-blocks {
	position:relative;
}

.side-blocks img {
	margin:7px;
}

.side-blocks h4 {
	height: 25px;
    font:normal 13px Arial;
	margin:8px -14px;
	background: #5B81B4;
	color: #fff;
	line-height: 25px;
	padding-left: 10px;
}

.side-blocks h4 a {
    color:#fff;
}

.side-blocks ul a {
	color: #215CA2;
	text-decoration: none;
}

.side-blocks ul a:hover {
	text-decoration: underline;
}

.side-blocks ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.side-blocks li {
	background: url(images/icons/li-dot.gif) 0 10px no-repeat;
	margin: 0;
	padding: 4px 0 4px 19px;
}

.side-blocks li#rss {
	background: url(images/rss.png) 0 2px no-repeat;
}

.side-blocks li span {
	float:right;
}

.side-blocks .lux_span_date {
    float:none;
}

.side-blocks #lux_tr_course li {
    background:none;
}

.side-blocks li.selected {
	background-color:#f4f4f6;
    font-weight:bold;
}

.side-blocks li.selected ul {
	margin-top: 10px;
	font-size: 91%;
}

.side-blocks li li {
	background: url(images/icons/li-dot.gif) 0 10px no-repeat;
	padding-left: 14px;
}

.side-blocks li.selected a {
	text-decoration: underline;
}

/* detailed rules */

.side-block {
	padding-bottom: 15px;
}

.side-block.recent-posts ul {
	margin-bottom: 12px;
}

.side-block.recent-posts li {
	background: url(images/icons/li-post.gif) 0 8px no-repeat;
}

.side-block.vacancies p {
	margin: 20px 0 7px 0;
}

.twtr-doc {
    margin:0 0 14px -20px;
}

.twtr-ft img {
    margin:0;
}
