.vote {
    margin-right:10px;
}

.vote form {
	font-size: 91%;
}

.vote .item {
	clear: left;
	position: relative;
	padding-bottom: 4px;
}

.vote .item input {
	margin-left: 4px;
	position: absolute;
}

.vote label {
	margin: 0 45px 0 29px;
	padding-top: 3px;
	display: block;
    border-bottom:dotted 1px #fff;
}

.vote .item:hover label {
    border-bottom:dotted 1px #ccc;
}

.vote .result {
	position: absolute;
	right: 0;
	top: 0;
	background: #92BCF3 url(images/vote/color1.gif);
	color: #FFF;
	width: 33px;
	height: 15px;
	padding: 2px 0 0 5px;
}

.vote .color-2 {
	background: #DE97D8 url(images/vote/color2.gif);
}

.vote .color-3 {
	background: #9CB584 url(images/vote/color3.gif);
}

.vote .color-4 {
	background: #FAB37C url(images/vote/color4.gif);
}

.vote .color-5 {
	background: #C0906F url(images/vote/color5.gif);
}

.vote .color-6 {
	background: #F88F8D url(images/vote/color6.gif);
}

.vote .form-buttons {
	margin-top: 10px;
	text-align: right;
}
