[user]
	name = STM
	email = legioner9
[merge]
	tool = vscode
[diff]
	guitool = vscode
[core]
	editor = 'C:/Program Files (x86)/Notepad++/notepad++.exe' -multiInst -notabbar -nosession -noPlugin
[pull]
	rebase = false
[fetch]
	prune = false
[rebase]
	autoStash = false
[difftool "vscode"]
	path = C:/Users/STM/AppData/Local/Programs/Microsoft VS Code/Code.exe
	cmd = \"C:/Users/STM/AppData/Local/Programs/Microsoft VS Code/Code.exe\" --wait --diff \"$LOCAL\" \"$REMOTE\"
[mergetool "vscode"]
	path = C:/Users/STM.STM-ПК/AppData/Local/Programs/Microsoft VS Code/code.exe
	cmd = "\"C:/Users/STM.STM-ПК/AppData/Local/Programs/Microsoft VS Code/code.exe\" --wait \"$MERGED\" "
[alias]
	gr = log --pretty=format:\"%h %s\" --graph
	co = checkout
	br = branch
	st = status
	ci = commit
