form {padding:0;margin:0}

td.poll {
	font: 12px Arial;
	color: black;
	background-color: #EEEEEE;
padding:0 5 0 5;
valign:top;
}

table.polltable
{
	align:center;
	background-color:#6699cc;
	border:1;
	width:98%;
	margin:2 5 2 5;
}
h1, h2, h3 {padding:2 0 1 10;background-color:#6699cc;color:white;color:lightyellow;width:100%}
h1
{font-size:12pt;font-weight:normal;margin:2 10 2 5}
h2
{font-size:10pt;;font-weight:bold}
hr {width:98%;color:#6699cc;size:2;noshade:true}

p {margin:5 0 1 5;padding:0
}

input {
font-family:Verdana,Arial,Sans Serif;
}

input.txt {
border:2 solid #6699cc;
font-size:10pt;
}
input.but {
background-color:#6699cc;
color:white;
width:140;
height:25;
margin:10;
}

hr {
color:#6699cc;
noshade:true;
size:2px;
margin-top:2px;
margin-bottom:2px;
}


P           { 
              font-family: Arial; 
              font-size : 10pt 
            }
TD.order    {
	      font-size: 10pt;
	      font-family: Arial; 
            }
TD.orderb   {font: bold 10pt Tahoma,Verdana,Arial; }
TD.orderbb {font: bold 10pt Tahoma,Verdana,Arial; color : blue }
TD.orderbtn {font: bold 10pt Tahoma,Verdana,Arial; color : brown }
TD.bookhead { font: bold 11pt Tahoma,Verdana,Arial; color : brown }

A:hover       { color : red}
A.lblue:link  { font: bold 9pt Arial; color : #0099FF; text-decoration : none; }
A.lblue:hover { color : white; background-color : #FFCC66;}
A.lblue:visited { font: bold 9pt Arial; color : #666699; text-decoration : none; }
.bkhead1 { font: bold 10pt Tahoma,Verdana,Arial; color : brown }
.ordersmall { font: 8pt Tahoma,Verdana,Arial }
A.menui:link { font: bold 10px Tahoma,Verdana,Arial; text-decoration : none; color : black;}
A.menui:visited { font: bold 10px Tahoma,Verdana,Arial; text-decoration : none; color : black;}
A.menui:active { font: bold 10px Tahoma,Verdana,Arial; text-decoration : none; color : #3300FF;}
A.menui:hover { color : #3300FF}
a.menu:link { font: bold Verdana,Arial; text-decoration:none; color : white}
a.menu:hover { font: bold Verdana,Arial; text-decoration:none; background-color : orange; color : white}
a.menu:visited { font: bold Verdana,Arial; text-decoration:none; color : white }
IMG.arrow {margin-top : 3px}
TD.newscat  { font : bold 10px Verdana,Arial; color : white; background-color : "#006699" }
.menuc { font: bold 10px Tahoma,Verdana,Arial; color : white; background-color : "#336699"}
.datesm { font: bold 8pt Tahoma,Verdana,Arial; color : blue}
.text1 { font: 9pt Arial;}
.headline { font-family : Verdana,Arial; color : #5555AA; font-weight: bold}
.txtsmall { font-family : Verdana,Arial,Tahoma; font-size : 11px}
.news { font : 11px Verdana,Arial; color : #555555}
