P           { 
              font-family: Verdana,Arial; 
            }
a.menu:link { font: bold Verdana,Arial; text-decoration:none; color : white}
a.menu:hover { font: bold Verdana,Arial; text-decoration:none; background-color : orange; color : white}
a.menu:visited { font: bold Verdana,Arial; text-decoration:none; color : white }
a.tree:link { font: bold Verdana,Arial; text-decoration:none; color : blue}
a.tree:hover { font: bold Verdana,Arial; text-decoration:none; background-color : silver; color : white}
a.tree:visited { font: bold Verdana,Arial; text-decoration:none; color : blue }
a:hover {color : red}
.news { font : 11px Verdana,Arial; color : #555555}
.headline { font-family : Verdana,Arial; color : #5555AA; font-weight: bold}
.txtsmall { font-family : Verdana,Arial,Tahoma; font-size : 11px}
table {font: 11px Verdana}
input  {font: 11px Verdana}
select {font: 11px Verdana}
textarea {font: 11px Verdana}
